
/* .SearchBarDiv {
    display: flex;
    flex-direction: row;

} */

.SearchBar {
    background-color: rgb(246, 247, 248);
    border: 1px rgb(221, 220, 220) solid;
    border-radius: 20px;
    padding: 5px 35px 5px 15px;
}
/*
#searchSubmit {
    background-color: #38ac3c;
    border: none;
    border-radius: 10px;
    color: white;
    height: 20px;
} */
