
.FindButton {
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#FindButton1 {
  background-color: #38ac3c; /* Green */
  border: .5px solid #38ac3c;
  border-radius: 38px;
  color: white;
  margin-right: 15px;
}

#FindButton1:hover {
  background-color: white;
  color: #38ac3c;
}

#FindButton2 {
    background-color: white; /* Green */
    border: 1px solid #38ac3c;
    border-radius: 38px;
    color: #38ac3c;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#FindButton2:hover {
  background-color: #38ac3c;
  color: white;
}

.FindButtonTitleText {
  color: black;
  font-weight: 520;
  font-size: 16.7px;
}

.FindButtonTopDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 100%;
  /* margin: 14px 0 0 15px; */
}

.FindButtonMediumDiv {
  width: fit-content;
}

.FindButtonSmallDiv {
  margin-bottom: 15px;
  width: fit-content;
}
