
.FindButton {
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#FindButton1 {
  background-color: #38ac3c; /* Green */
  border: none;
  border-radius: 38px;
  color: white;
  margin-right: 15px;

}

#FindButton2 {
    background-color: white; /* Green */
    border: 1px solid #38ac3c;
    border-radius: 38px;
    color: #38ac3c;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.FindButtonTitleText {
  color: black;
  font-weight: 520;
  font-size: 16.7px;
}

.FindButtonTopDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 50%;
  margin: 10px;
}

.FindButtonMediumDiv {

}

.FindButtonSmallDiv {
  margin-bottom: 15px;
}
