
.FooterDiv {
    background-color: #1d4354;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ListTitle {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.ListDiv {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    margin-top: 15px;
}

.UnList {
    list-style-type: none;
}

.InnerFooterBottomDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-around; */
    border-top: .2px solid rgb(0, 94, 111);
    border-bottom: .2px solid rgb(0, 94, 111);
    margin-left: 30px;
}

.ListItem {
    margin-top: 9px;
    font-size: 13px;
    text-decoration: none;
}

.IFBBottomDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
}

.IFBItem {
    margin-left: 30px;
    font-size: 13px;
}

.SpanDiv {
    margin-top: 35px;
    color: #1d4354
}

#aboutUs {
    color: white;
    text-decoration: none;
}

#devProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #38ac3c;
    color: white;
}

#infoTitle {
    margin: 10px 0 5px 0;
}

#myInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #38ac3c;
    color: white;
}

.infoBox {
    margin: 8px 10px 8px 10px;
}
