/* TODO Add site wide styles */

.body {
    margin: 0px;
    width: 100%;
    min-height: 100vh;
}

.TopHomeDiv {
    display: flex;
    flex-direction: row;
}

button:hover {
    cursor: pointer;
}

