

.ReviewsTopDiv {

}


.h3Div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ReviewsTitle {
    color: rgb(0, 189, 0);
    font-weight: 600;
    /* width: 80px; */
    /* height: 10px; */
    margin: 0px 0px 0px 0px;
}

.ReviewUnList {
    list-style-type: none;
}

.ReviewBody {
    /* width: 580px; */
    margin: 0px 0px 8px 0px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}

.CreateReviewForm {

}

.ReviewDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.ReviewTitleText {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}

.ReviewFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CreateReviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}
