

#MainTitle {
    font-size: 60px;
    color: #14a800;
    margin: 0 0 0 0;
}

#SecondaryTitle {
    color: #65735b;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -.002em;
    font-weight: 500;
}

.TopHomeDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%
}

#bodyHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
}

#bodyTopDiv {
    width: 100%;
}

