body {
    background-color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.NavBar {
    border-bottom: 1px solid #d5e0d5;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBarSpacing {
  width: 35%;
}

.DownworkLogo {
  width: 100px;
  height: auto;
}

#ProfileButton {
  width: 65px;
}
